.invert {
    filter: invert() hue-rotate(180deg) contrast(80%);
    background: black !important;
    background-image: none !important;
}
.invert img {
    filter: invert() hue-rotate(180deg) contrast(100%);
}
